http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/family/Rheidae?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"ffa325e8d9058c13de669a118541da23"
      link: <https://api.iucnredlist.org/api/v4/taxa/family/Rheidae?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/family/Rheidae?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '15'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2008","latest":false,"sis_taxon_id":22678073,"url":"https://www.iucnredlist.org/species/22678073/34712085","assessment_id":34712085,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2004","latest":false,"sis_taxon_id":22678073,"url":"https://www.iucnredlist.org/species/22678073/34713259","assessment_id":34713259,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2000","latest":false,"sis_taxon_id":22678073,"url":"https://www.iucnredlist.org/species/22678073/34714240","assessment_id":34714240,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"1994","latest":false,"sis_taxon_id":22678073,"url":"https://ww[...]
