http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"c8b69700838302160e20d72fae212cc4"
      link: <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '169'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"conservation_action":{"description":{"en":"Non-monetary values"},"code":"6_5"},"assessments":[{"year_published":"2021","latest":true,"sis_taxon_id":12124,"url":"https://www.iucnredlist.org/species/12124/505402","assessment_id":505402,"code":"6_5","code_type":"conservation_action","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":false,"sis_taxon_id":12774,"url":"https://www.iucnredlist.org/species/12774/508246","assessment_id":508246,"code":"6_5","code_type":"conservation_action","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":true,"sis_taxon_id":13039,"url":"https://www.iucnredlist.org/species/13039/511745","assessment_id":511745,"code":"6_5","code_type":"conservation_action","scopes":[{"description"[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '3'
      etag: W/"db10b0589e82e9520c615ba0b71f8b53"
      link: <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=2&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/conservation_actions/6_5?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '169'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"conservation_action":{"description":{"en":"Non-monetary values"},"code":"6_5"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 21:06:13 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
