http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/conservation_actions/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"b8c447de3a0b1be9f9be1d46cd058d65"
    body:
      encoding: ''
      file: no
      string: '{"conservation_actions":[{"description":{"en":"Land/water protection"},"code":"1"},{"description":{"en":"Site/area
        protection"},"code":"1_1"},{"description":{"en":"Resource \u0026 habitat protection"},"code":"1_2"},{"description":{"en":"Land/water
        management"},"code":"2"},{"description":{"en":"Site/area management"},"code":"2_1"},{"description":{"en":"Invasive/problematic
        species control"},"code":"2_2"},{"description":{"en":"Habitat \u0026 natural
        process restoration"},"code":"2_3"},{"description":{"en":"Species management"},"code":"3"},{"d[...]
