http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/166290968
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"49659809e04e5373ca64efd4711aa6b7"
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2020-12-18T00:00:00.000Z","year_published":"2021","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":22694927,"criteria":"A2abcde+4abcde","url":"https://www.iucnredlist.org/species/22694927/166290968","citation":"BirdLife
        International 2021. Fratercula arctica (Europe assessment). The IUCN Red List
        of Threatened Species 2021: e.T22694927A166290968. https://dx.doi.org/10.2305/IUCN.UK.2021-3.RLTS.T22694927A166290968.en.
        Accessed on 18 September 2024.","assessment_id":166290968,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":22694927,"scientific_name":"Fratercula
        arctica","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"AVES","order_name":"CHARADRIIFORMES","family_name":"ALCIDAE","genus_name":"Fratercula","species_name":"arctica","subpopulation_name":null,"infra_name":null,"authority":"(Linnaeus,
        1758)","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Bird Red List Authority (BirdLife International)","url":"https://www.birdlife.org/","description":"Red
        List Authority Coordinator: Ian Burfield (ian.burfield@birdlife.org)"}],"common_names":[{"main":false,"name":"Puffin","language":{"code":"eng","description":{"en":"English"}}},{"main":true,"name":"Atlantic
        Puffin","language":{"code":"eng","description":{"en":"English"}}}],"synonyms":[]},"population_trend":{"description":{"en":"Decreasing"},"code":"1"},"red_list_category":{"version":"3.1","description":{"en":"Endangered"},"code":"EN"},"supplementary_info":{"upper_elevation_limit":null,"lower_elevation_limit":null,"lower_depth_limit":null,"upper_depth_limit":null,"population_size":"7400000-8240000,7820000","population_severely_fragmented":"No","population_continuing_decline":"Yes","generational_length":"17","congregatory":"Congregatory
        (and dispersive)","movement_patterns":"Full Migrant","continuing_decline_in_area":"Unknown","conservation_actions_in_place":[{"name":"In-place
        research and monitoring","actions":[{"name":"Action Recovery Plan","value":"Yes"},{"name":"Systematic
        monitoring scheme","value":"No"}]},{"name":"In-place land/water protection","actions":[{"name":"Conservation
        sites identified","value":"Yes, over entire range"},{"name":"Occurs in at
        least one protected area","value":"Yes"},{"name":"Invasive species control
        or prevention","value":"No"}]},{"name":"In-place species management","actions":[{"name":"Successfully
        reintroduced or introduced benignly","value":"No"},{"name":"Subject to ex-situ
        conservation","value":"No"}]},{"name":"In-place education","actions":[{"name":"Subject
        to recent education and awareness programmes","value":"No"},{"name":"Included
        in international legislation","value":"Yes"},{"name":"Subject to any international
        management / trade controls","value":"No"}]}],"identification_information":null,"extreme_fluctuations":"No","no_of_subpopulations":null,"continuing_decline_in_subpopulations":"Unknown","extreme_fluctuations_in_subpopulations":"No","all_individuals_in_one_subpopulation":"No","no_of_individuals_in_largest_subpopulation":null,"estimated_area_of_occupancy":null,"continuing_decline_in_area_of_occupancy":"Unknown","extreme_fluctuations_in_area_of_occupancy":"No","estimated_extent_of_occurence":null,"continuing_decline_in_extent_of_occurence":"Unknown","extreme_fluctuations_in_extent_of_occurence":"No","continuing_decline_in_number_of_locations":"Unknown","extreme_fluctuations_in_number_of_locations":"No"},"documentation":{"range":"The
        species can be found throughout the North Atlantic Ocean. In Europe, it occurs
        in north-west Greenland (to Denmark), and from north Norway down to the Canary
        Islands, Spain in the east (Nettleship \u003cem\u003eet al.\u003c/em\u003e
        2014), and breeds primarily in Norway and Iceland, and also notably in the
        United Kingdom and the Faroe Islands.","population":"The European breeding
        population is estimated at 3,700,000-4,120,000 pairs, which equates to\u0026#160;7,400,000-8,240,000
        mature individuals. The breeding population in the EU28 is estimated at 601,000-602,000
        pairs, which equates to 1,200,000-1,210,000 mature individuals. For details
        of national estimates, see the Supplementary Information.","habitats":"The
        breeding range is restricted to colder parts of the Atlantic and Arctic Oceans,
        with its southernmost colonies in Brittany (France).\u0026#160; Breeding colonies
        are located in Iceland, Norway, Faroe Islands, the U.K., Ireland and France
        on islands or high cliffs.\u003cbr/\u003e\u003cbr/\u003eThe species nests
        on grassy maritime slopes, sea cliffs and rocky slopes (Nettleship \u003cem\u003eet
        al.\u003c/em\u003e 2014). During the winter the spe[...]
{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium
        Impact: 6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":"Neovison
        vison","text":null,"description":{"en":"Named species"},"code":"8_1_2"},[...]
{"scope":"Unknown","timing":"Ongoing","internationalTrade":null,"score":"Unknown","severity":"Rapid
        Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (large scale) [harvest]"},"code":"5_4_4"},[...]
{"scope":"Unknown","timing":"Ongoing","internationalTrade":null,"score":"Unknown","severity":"Unknown","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Type
        Unknown/Unrecorded"},"code":"9_2_3"}],"credits":[{"credit_type_name":"assessor","full":"BirdLife
        International","value":[" BirdLife International (BirdLife International)"]},{"credit_type_name":"evaluator","full":"Burfield,
        I. \u0026 Martin, R.","value":["Ian Burfield (BirdLife International - European
        Division)","Rob Martin (BirdLife)"]},{"credit_type_name":"contributor","full":"Ashpole,
        J, Burfield, I., Ieronymidou, C., Pople, R., Tarzia, M, Wheatley, H. \u0026
        Wright, L","value":["Ian Burfield (BirdLife International - European Division)","Joscelyne
        Ashpole (BirdLife)","Rob Pople (BirdLife International)","Christina Ieronymidou
        (BirdLife International)","Hannah Wheatley (BirdLife International)","Laura
        Wright (BirdLife)","M Tarzia (BirdLife)"]},{"credit_type_name":"facilitators","full":"Fernando,
        E., Grice, H., Piggott, A., Rutherford, C.A. \u0026 Staneva, A.","value":["Anna
        Staneva (BirdLIfe International)","Hannah Grice (RBG Kew)","Eresha Fernando
        (BirdLife International)","Claire Rutherford (BirdLife International)","Alexa
        Piggott (BirdLife International)"]}],"errata":[],"references":[{"citation":"del
        Hoyo, J., Elliott, A., and Sargatal, J. 1996. \u003ci\u003eHandbook of the
        Birds of the World, vol. 3: Hoatzin to Auks\u003c/i\u003e. Lynx Edicions,
        Barcelona, Spain.","year":"1996","title":"Handbook of the Birds of the World,
        vol. 3: Hoatzin to Auks","author":"del Hoyo, J., Elliott, A., and Sargatal,
        J.","citation_short":""},{"citation":"BirdLife International. 2000. \u003ci\u003eThe
        Development of Boundary Selection Criteria for the Extension of Breeding Seabird
        Special Protection Areas into the Marine Environment. OSPAR Convention for
        the Protection of the Marine Environment of the North-East Atlantic.\u003c/i\u003e
        Vlissingen (Flushing).","year":"2000","title":"The Development of Boundary
        Selection Criteria for the Extension of Breeding Seabird Special Protection
      [...]
