http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/countries?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"46e6b55086a2537dff6a523e6179a60c"
    body:
      encoding: ''
      file: no
      string: '{"countries":[{"description":{"en":"Andorra"},"code":"AD"},{"description":{"en":"United
        Arab Emirates"},"code":"AE"},{"description":{"en":"Afghanistan"},"code":"AF"},{"description":{"en":"Antigua
        and Barbuda"},"code":"AG"},{"description":{"en":"Anguilla"},"code":"AI"},{"description":{"en":"Albania"},"code":"AL"},{"description":{"en":"Armenia"},"code":"AM"},{"description":{"en":"Angola"},"code":"AO"},{"description":{"en":"Antarctica"},"code":"AQ"},{"description":{"en":"Argentina"},"code":"AR"},{"description":{"en":"American
        [...]
