http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/red_list_categories/V?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"a6f89548d83c7248e2690a90839c714c"
      link: <https://api.iucnredlist.org/api/v4/red_list_categories/V?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/red_list_categories/V?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/red_list_categories/V?page=43&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '4271'
      total-pages: '43'
    body:
      encoding: ''
      file: no
      string: '{"red_list_category":[{"version":"Earlier Version","description":{"en":"Vulnerable"},"code":"V"}],"assessments":[{"year_published":"1994","latest":false,"sis_taxon_id":10016,"url":"https://www.iucnredlist.org/species/10016/3154148","assessment_id":3154148,"code":"V","code_type":"red_list_category","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"1994","latest":false,"sis_taxon_id":10017,"url":"https://www.iucnredlist.org/species/10017/3154205","assessment_id":3154205,"code":"V","code_type":"red_list_category","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"1994","latest":false,"sis_taxon_id":10018,"url":"https://www.iucnredlist.org/species/10018/3154260","assessment_id":3154260,"code":"V","code_type":"red_list_category","scopes":[{"description":{"[...]
[...]
