http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/red_list_categories?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"6f14b22e04bd092fcbe6b8eb9cd94211"
    body:
      encoding: ''
      file: no
      string: '{"red_list_categories":[{"version":"Earlier Version","description":{"en":"Abundant"},"code":"A"},{"version":"2.3","description":{"en":"Critically
        Endangered"},"code":"CR"},{"version":"3.1","description":{"en":"Critically
        Endangered"},"code":"CR"},{"version":"Earlier Version","description":{"en":"Commercially
        Threatened"},"code":"CT"},{"version":"Earlier Version","description":{"en":"Unknown"},"code":"CUSTOM"},{"version":"2.3","description":{"en":"Data
        Deficient"},"code":"DD"},{"version":"3.1","description":{"en":"Data Deficient"},"code":"DD"},{"version":[...]
