http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"49f8e0f2dd0895ebae02da1f1848ddcd"
      link: <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '208'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"red_list_category":[{"version":"3.1","description":{"en":"Extinct
        in the Wild"},"code":"EW"},{"version":"2.3","description":{"en":"Extinct in
        the Wild"},"code":"EW"}],"assessments":[{"year_published":"2019","latest":true,"sis_taxon_id":14881,"url":"https://www.iucnredlist.org/species/14881/546437","assessment_id":546437,"code":"EW","code_type":"red_list_category","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2022","latest":true,"sis_taxon_id":179630,"url":"https://www.iucnredlist.org/species/179630/1584696","assessment_id":1584696,"code":"EW","code_type":"red_list_category","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":true,"sis_taxon_id":190888,"url":"https://www.iucnredlist.org/species/190888/1960457","assessment_id":1960457,"code":"EW","code_type":"red_list_category","scopes":[{"description[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=4
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '4'
      etag: W/"3a1d594d3fb99b9bc76e7de63f5a71ec"
      link: <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=3&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/red_list_categories/EW?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '208'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"red_list_category":[{"version":"3.1","description":{"en":"Extinct
        in the Wild"},"code":"EW"},{"version":"2.3","description":{"en":"Extinct in
        the Wild"},"code":"EW"}],"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 21:12:38 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
