http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/countries/VA?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"100055a85dec18824f2185cf3fdee8e4"
      link: <https://api.iucnredlist.org/api/v4/countries/VA?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/countries/VA?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/countries/VA?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '233'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"country":{"description":{"en":"Holy See (Vatican City State)"},"code":"VA"},"assessments":[{"year_published":"2012","latest":false,"sis_taxon_id":155538,"url":"https://www.iucnredlist.org/species/155538/732330","assessment_id":732330,"code":"VA","code_type":"country","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2017","latest":true,"sis_taxon_id":155901,"url":"https://www.iucnredlist.org/species/155901/737435","assessment_id":737435,"code":"VA","code_type":"country","scopes":[{"description":{"en":"Europe"},"code":"2"}]},{"year_published":"2014","latest":true,"sis_taxon_id":164064,"url":"https://www.iucnredlist.org/species/164064/1021826","assessment_id":1021826,"code":"VA","code_type":"country","scopes":[{"description":{"en":"Global"},"cod[...]
