http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/countries/AS?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"bd50ec9d9fc38b92e27c53ee62644c20"
      link: <https://api.iucnredlist.org/api/v4/countries/AS?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/countries/AS?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/countries/AS?page=31&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '3092'
      total-pages: '31'
    body:
      encoding: ''
      file: no
      string: '{"country":{"description":{"en":"American Samoa"},"code":"AS"},"assessments":[{"year_published":"2012","latest":false,"sis_taxon_id":135567,"url":"https://www.iucnredlist.org/species/135567/515308","assessment_id":515308,"code":"AS","code_type":"country","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":false,"sis_taxon_id":154855,"url":"https://www.iucnredlist.org/species/154855/719858","assessment_id":719858,"code":"AS","code_type":"country","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2022","latest":true,"sis_taxon_id":160386,"url":"https://www.iucnredlist.org/species/160386/830965","assessment_id":830965,"code":"AS","code_type":"country","scopes":[{"description":{"en":"Global"},"code[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/countries/AS?page=32
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '32'
      etag: W/"0ac52cb337362c7925e411cfc9c72815"
      link: <https://api.iucnredlist.org/api/v4/countries/AS?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/countries/AS?page=31&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/countries/AS?page=31&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '3092'
      total-pages: '31'
    body:
      encoding: ''
      file: no
      string: '{"country":{"description":{"en":"American Samoa"},"code":"AS"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 20:00:56 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
