http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/country/list?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"563340760"'
    body:
      encoding: UTF-8
      file: no
      string: '{"count":251,"results":[{"isocode":"UZ","country":"Uzbekistan"},{"isocode":"QA","country":"Qatar"},{"isocode":"SA","country":"Saudi
        Arabia"},{"isocode":"AF","country":"Afghanistan"},{"isocode":"LB","country":"Lebanon"},{"isocode":"BH","country":"Bahrain"},{"isocode":"CY","country":"Cyprus"},{"isocode":"SY","country":"Syrian
        Arab Republic"},{"isocode":"TJ","country":"Tajikistan"},{"isocode":"TM","country":"Turkmenistan"},{"isocode":"AE","country":"United
        Arab Emirates"},{"isocode":"IR","country":"Iran, Islamic Republic of[...]
