http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"49a02e1e26b56812b743708370da419c"
      link: <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '151'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"comprehensive_group":{"high":false,"comp":true,"name":"seasnakes","higher_name":"selected_reptiles"},"assessments":[{"year_published":"2024","latest":true,"sis_taxon_id":176683,"url":"https://www.iucnredlist.org/species/176683/199526207","assessment_id":199526207,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2022","latest":true,"sis_taxon_id":169827,"url":"https://www.iucnredlist.org/species/169827/183255318","assessment_id":183255318,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2021","latest":false,"sis_taxon_id":176769,"url":"https://www.iucnredlist.org/species/176769/1444116","assessment_id":1444116,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2022","latest":true,"sis_taxon_id":176769,"url":"https://www.iucnredlis[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '3'
      etag: W/"8f59e25267c9309dd6aba4680e334b10"
      link: <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=2&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/comprehensive_groups/seasnakes?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '151'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"comprehensive_group":{"high":false,"comp":true,"name":"seasnakes","higher_name":"selected_reptiles"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 20:56:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
