http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/comprehensive_groups/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"52ad9017e209082759612281123cc097"
    body:
      encoding: ''
      file: no
      string: '{"comprehensive_group":[{"high":true,"comp":true,"name":"amphibians","higher_name":"amphibians"},{"high":false,"comp":true,"name":"angelfishes","higher_name":"selected_bony_fishes"},{"high":true,"comp":true,"name":"birds","higher_name":"birds"},{"high":false,"comp":true,"name":"blennies","higher_name":"selected_bony_fishes"},{"high":false,"comp":true,"name":"butterfly_fishes","higher_name":"selected_bony_fishes"},{"high":false,"comp":true,"name":"cacti","higher_name":"selected_dicots"},{"high":false,"comp":true,"name":"chameleons","higher_name":"selected_reptiles"},{"high":fal[...]
