http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/class/Hydrozoa?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"df9e51b64adf9384fad13254bfe5b6d7"
      link: <https://api.iucnredlist.org/api/v4/taxa/class/Hydrozoa?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/class/Hydrozoa?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '28'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2008","latest":false,"sis_taxon_id":132975,"url":"https://www.iucnredlist.org/species/132975/3517642","assessment_id":3517642,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":132999,"url":"https://www.iucnredlist.org/species/132999/3530477","assessment_id":3530477,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":133042,"url":"https://www.iucnredlist.org/species/133042/3573218","assessment_id":3573218,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":133140,"url":"https://www.iucnredlist.[...]
