http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/common_names/Loxodonta%20africana?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Loxodonta africana","result":[{"taxonname":"African Elephant","primary":true,"language":"eng"},{"taxonname":"Éléphant
        Africain","primary":false,"language":"fre"},{"taxonname":"Éléphant d''Afrique","primary":false,"language":"fre"},{"taxonname":"Elefante
        Africano","primary":false,"language":"spa"}]}'
  recorded_at: 2020-01-28 00:41:49 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
