http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/possibly_extinct_in_the_wild?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"1dc81f8f2efce325171762ad520dcbcd"
      link: <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct_in_the_wild?page=1&items=20>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct_in_the_wild?page=2&items=20>;
        rel="next", <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct_in_the_wild?page=4&items=20>;
        rel="last"
      page-items: '20'
      total-count: '68'
      total-pages: '4'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2015","latest":true,"sis_taxon_id":80220185,"url":"https://www.iucnredlist.org/species/80220185/80220205","assessment_id":80220205,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2016","latest":true,"sis_taxon_id":80220290,"url":"https://www.iucnredlist.org/species/80220290/115508926","assessment_id":115508926,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2014","latest":true,"sis_taxon_id":56301925,"url":"https://www.iucnredlist.org/species/56301925/56301947","assessment_id":56301947,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":true,"sis_taxon_id":4183,"url":"https://www.iuc[...]
