http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/possibly_extinct?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"6a0c4537956f2d88da5bc3b4fe79e7d1"
      link: <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct?page=1&items=20>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct?page=2&items=20>;
        rel="next", <https://api.iucnredlist.org/api/v4/taxa/possibly_extinct?page=69&items=20>;
        rel="last"
      page-items: '20'
      total-count: '1369'
      total-pages: '69'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2011","latest":true,"sis_taxon_id":11455,"url":"https://www.iucnredlist.org/species/11455/3278905","assessment_id":3278905,"scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Europe"},"code":"2"}]},{"year_published":"2013","latest":true,"sis_taxon_id":197693,"url":"https://www.iucnredlist.org/species/197693/2496283","assessment_id":2496283,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2010","latest":true,"sis_taxon_id":155620,"url":"https://www.iucnredlist.org/species/155620/4809588","assessment_id":4809588,"scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Europe"},"code":"2"},{"descripti[...]
