http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/faos/18?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"107b1aa640af0e4d10e152b7ea75a344"
      link: <https://api.iucnredlist.org/api/v4/faos/18?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/faos/18?page=2&per_page=100>; rel="next",
        <https://api.iucnredlist.org/api/v4/faos/18?page=2&per_page=100>; rel="last"
      page-items: '100'
      total-count: '144'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"fao":{"description":{"en":"Arctic Sea"},"code":"18"},"assessments":[{"year_published":"2021","latest":true,"sis_taxon_id":161403,"url":"https://www.iucnredlist.org/species/161403/887942","assessment_id":887942,"code":"18","code_type":"fao","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":true,"sis_taxon_id":162617,"url":"https://www.iucnredlist.org/species/162617/929820","assessment_id":929820,"code":"18","code_type":"fao","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2014","latest":true,"sis_taxon_id":163011,"url":"https://www.iucnredlist.org/species/163011/963624","assessment_id":963624,"code":"18","code_type":"fao","scopes":[{"description":{"en":"Global"},"code":"1"}]},[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/faos/18?page=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '3'
      etag: W/"090f73185c174880122f9825ef2fbe93"
      link: <https://api.iucnredlist.org/api/v4/faos/18?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/faos/18?page=2&per_page=100>; rel="prev",
        <https://api.iucnredlist.org/api/v4/faos/18?page=2&per_page=100>; rel="last"
      page-items: '100'
      total-count: '144'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"fao":{"description":{"en":"Arctic Sea"},"code":"18"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 21:15:19 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
