http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"8779df77a58832b13468377f212b9b34"
      link: <https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '63'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2008","latest":false,"sis_taxon_id":136584,"url":"https://www.iucnredlist.org/species/136584/4313662","assessment_id":4313662,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2000","latest":false,"sis_taxon_id":15932,"url":"https://www.iucnredlist.org/species/15932/5321856","assessment_id":5321856,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"1996","latest":false,"sis_taxon_id":15932,"url":"https://www.iucnredlist.org/species/15932/5321883","assessment_id":5321883,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":15932,"url":"https://www.iucnredlist.org/s[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '2'
      etag: W/"7aef01253a3d2f0e1ffc4e65de43d86f"
      link: <https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/taxa/family/Hominidae?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '63'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[],"filters":{"family_name":"Hominidae"}}'
  recorded_at: 2024-09-18 14:37:29 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
