http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/growth_forms/LC?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"4ae8c96789eaf2ff093af38e346440c5"
      link: <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '156'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"growth_form":{"description":{"en":"Lichen"},"code":"LC"},"assessments":[{"year_published":"2003","latest":true,"sis_taxon_id":43994,"url":"https://www.iucnredlist.org/species/43994/10838980","assessment_id":10838980,"code":"LC","code_type":"growth_form","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2003","latest":true,"sis_taxon_id":43995,"url":"https://www.iucnredlist.org/species/43995/10839336","assessment_id":10839336,"code":"LC","code_type":"growth_form","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":false,"sis_taxon_id":49254423,"url":"https://www.iucnredlist.org/species/49254423/49256365","assessment_id":49256365,"code":"LC","code_type":"growth_form","scopes":[{"description":{"e[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/growth_forms/LC?page=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '3'
      etag: W/"15d8e774d40db37107fd700f0b52699b"
      link: <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=2&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/growth_forms/LC?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '156'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"growth_form":{"description":{"en":"Lichen"},"code":"LC"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 17:45:49 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
