http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/green_status/all
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"b643365999e6fb6cc827e756a30305bd"
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"assessment_year":"2022","weights":"Default","justification":"\u003cp\u003eThe
        American Horseshoe Crab has a Species Recovery Score of 69% (Moderately Depleted).
        While it is Viable throughout much of its range, declines due to development,
        harvesting, climate change and sea level rise prevent it from being Functional
        save for in a few spatial units. Its Conservation Legacy is Indeterminate;
        though the best estimate is that conservation actions, including harvest management,
        have benefitted the species. The species has a Medium Conservation Gain and
        Dependence; within 10 years, the best estimate is that the species\u0026#39;
        score will increase to 83% with continued conservation, or decrease to 48%
        if it ceased. However, given the pressures of climate change, which affects
        spawning cues, and sea level rise, which reduces available spawning habitat,
        the species is expected in 100 years to lose those short-term gains, giving
        it a Recovery Potential of Zero.\u003cbr\u003e\u003cbr\u003eFor additional
        data, see the \u003ca href=\u0026quot;https://www.iucnredlist.org/resources/gss-supplementary\u0026quot;
        target=\u0026quot;_self\u0026quot;\u003eSupplementary Information\u003c/a\u003e
        document.\u003c/p\u003e","species_recovery_category":"Moderately Depleted","species_recovery_score_best":"69%","species_recovery_score_minimum":"60%","species_recovery_score_maximum":"93%","conservation_legacy_category":"Indeterminate","conservation_legacy_best":"24%","conservation_legacy_minimum":"-2%","conservation_legacy_maximum":"57%","conservation_dependence_category":"Medium","conservation_dependence_best":"21%","conservation_dependence_minimum":"0%","conservation_dependence_maximum":"69%","conservation_gain_category":"Medium","conservation_gain_best":"14%","conservation_gain_minimum":"-36%","conservation_gain_maximum":"36%","recovery_potential_category":"Zero","recovery_potential_best":"0%","recovery_potential_minimum":"-69%","recovery_potential_maximum":"38%","assessor_names":"Smith,
        D., Brockmann, J., Carmichael, R., Hallerman, E., Watson, W. \u0026 Zald\u0026iacute;var-Rae,
        J.","reviewer_names":"Botton, M. \u0026 Grace, M.K.","contributors":null,"facilitators":"Grace,
        M.K. \u0026 Young, R.E.","compilers":null,"url":"https://www.iucnredlist.org/species/11987/80159830","assessment_date":"2022-07-21","taxon":{"sis_id":11987,"scientific_name":"Limulus
        polyphemus","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"ARTHROPODA","class_name":"MEROSTOMATA","order_name":"XIPHOSURA","family_name":"LIMULIDAE","genus_name":"Limulus","species_name":"polyphemus","subpopulation_name":null,"infra_name":null,"authority":"(Linnaeus,
        1758)","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Horseshoe Crab Specialist Group","url":null,"description":"Co-Chairs:
        Mark L. Botton (email: botton@fordham.edu) and Paul K.S. Shin (email: paulksshin@gmail.com)\nRed
        List Authority Coordinator: Dave Smith (email: drsmith@usgs.gov)"}],"common_names":[{"main":false,"name":"Atlantic
        Horseshoe Crab","language":{"code":"eng","description":{"en":"English"}}},{"main":false,"name":"Horseshoe
        Crab","language":{"code":"eng","description":{"en":"English"}}},{"main":true,"name":"American
        Horseshoe Crab","language":{"code":"eng","description":{"en":"English"}}}],"synonyms":[{"name":"Monoculus
        polyphemus Linnaeus, 1758","status":"ACCEPTED","genus_name":"Monoculus","species_name":"polyphemus","species_author":"Linnaeus,
        1758","infrarank_author":null,"subpopulation_name":null,"infra_type":null,"infra_name":null}]}},{"assessment_year":"2021","weights":"Default","justification":"\u003cp\u003eEncino
        Arroyero\u0026#39;s Species Recovery Score of 33% (Largely Depleted) is due
        to low recruitment and an age structure skewed toward very old individuals,
        preventing the species from being Viable in any of its spatial units (instead,
        it is Present in all of them). Encino Arroyero has a Conservation Legacy of
        Zero due to the species\u0026#39; extremely[...]
