http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/habitats/species/name/Fratercula%20arctica?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Fratercula arctica","result":[{"code":"10.1","habitat":"Marine
        Oceanic - Epipelagic (0-200m)","suitability":"Suitable","season":"Breeding
        Season","majorimportance":"No"},{"code":"10.1","habitat":"Marine Oceanic -
        Epipelagic (0-200m)","suitability":"Suitable","season":"Non-Breeding Season","majorimportance":"No"},{"code":"13.1","habitat":"Marine
        Coastal/Supratidal - Sea Cliffs and Rocky Offshore Islands","suitability":"Suitable","season":"Breeding
        Season","majorimportance":"No"},{"code":"4.2","habitat":"Grassland - Subarctic","suitability":"Suitable","season":"Breeding
        Season","majorimportance":"Yes"},{"code":"4.4","habitat":"Grassland - Temperate","suitability":"Suitable","season":"Breeding
        Season","majorimportance":"Yes"},{"code":"9.1","habitat":"Marine Neritic -
        Pelagic","suitability":"Suitable","season":"Breeding Season","majorimportance":"Yes"},{"code":"9.1","habitat":"Marine
        Neritic - Pelagic","suitability":"Suitable","season":"Non-Breeding Season","majorimportance":"Yes"}]}'
  recorded_at: 2020-01-28 00:42:43 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
