http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/habitats/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"4dbf148f528195e94487e3c2c4958c70"
    body:
      encoding: ''
      file: no
      string: '{"habitats":[{"description":{"en":"Forest"},"code":"1"},{"description":{"en":"Forest
        - Boreal"},"code":"1_1"},{"description":{"en":"Forest - Subarctic"},"code":"1_2"},{"description":{"en":"Forest
        - Subantarctic"},"code":"1_3"},{"description":{"en":"Forest - Temperate"},"code":"1_4"},{"description":{"en":"Forest
        - Subtropical/Tropical Dry"},"code":"1_5"},{"description":{"en":"Forest -
        Subtropical/Tropical Moist Lowland"},"code":"1_6"},{"description":{"en":"Forest
        - Subtropical/Tropical Mangrove Vegetation A[...]
