http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/habitats/2?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"12f0045c362ab893bccffb435d7c42cc"
      link: <https://api.iucnredlist.org/api/v4/habitats/2?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/habitats/2?page=1&per_page=100>; rel="last"
      page-items: '100'
      total-count: '35'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"habitat":{"description":{"en":"Savanna"},"code":"2"},"assessments":[{"year_published":"2014","latest":true,"sis_taxon_id":200692,"url":"https://www.iucnredlist.org/species/200692/2679629","assessment_id":2679629,"code":"2","code_type":"habitat","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2014","latest":true,"sis_taxon_id":200698,"url":"https://www.iucnredlist.org/species/200698/2680158","assessment_id":2680158,"code":"2","code_type":"habitat","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":12521,"url":"https://www.iucnredlist.org/species/12521/3352506","assessment_id":3352506,"code":"2","code_type":"habitat","scopes":[{"description":{"en":"Global"},"code[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/habitats/2?page=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '2'
      etag: W/"b17a770232927570322e6dc26566601f"
      link: <https://api.iucnredlist.org/api/v4/habitats/2?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/habitats/2?page=1&per_page=100>; rel="prev",
        <https://api.iucnredlist.org/api/v4/habitats/2?page=1&per_page=100>; rel="last"
      page-items: '100'
      total-count: '35'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"habitat":{"description":{"en":"Savanna"},"code":"2"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 17:45:53 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
