http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"63cd6eb289f20bc9834f534b373f6d22"
      link: <https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '18'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2007","latest":true,"sis_taxon_id":63585,"url":"https://www.iucnredlist.org/species/63585/12684515","assessment_id":12684515,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2007","latest":true,"sis_taxon_id":63586,"url":"https://www.iucnredlist.org/species/63586/12684685","assessment_id":12684685,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2007","latest":true,"sis_taxon_id":63587,"url":"https://www.iucnredlist.org/species/63587/12684867","assessment_id":12684867,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2007","latest":true,"sis_taxon_id":63588,"url":"https://www.iucnredlist.org/[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '2'
      etag: W/"48a1c2af77bf15ee34b5e28223d3e3a5"
      link: <https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/taxa/kingdom/Chromista?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '18'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[],"filters":{"kingdom_name":"Chromista"}}'
  recorded_at: 2024-09-18 14:37:04 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
