http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/narrative/Fratercula%20arctica?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"726075169"'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Fratercula arctica","result":[{"species_id":22694927,"taxonomicnotes":null,"rationale":"This
        species has experienced rapid declines across most of its European range.
        Population trends outside Europe are unknown. Extrapolated over three generation
        lengths and allowing for uncertainty, the population is thought to be declining
        at a rate sufficient to be listed as Vulnerable. Should population trends
        become less uncertain both within and outside its European range it may merit
        uplisting or downlisting.","geographicrange":"The Atlantic Puffin can be found
        throughout the North Atlantic Ocean, from north-west Greenland (<strong>to
        </strong><strong>Denmark</strong>) to the coastline of Newfoundland (<strong>Canada</strong>)
        and Maine (<strong>USA</strong>) in the west, and from north-west <strong>Russia&#160;</strong>down
        to the Canary Islands, <strong>Spain</strong> (in winter) in the east (del
        Hoyo <em>et al</em>. 1996)<strong></strong>. The population in <strong>Iceland</strong>
        and <strong>Norway</strong>, which together account for 80% of the European
        population, decreased markedly since the early 2000s (BirdLife International
        2015).&#160;In much of Iceland breeding has generally failed every year since
        2003, but in the north, at least, it has been borderline sustainable (G. A.
        Gudmundsson&#160;<em>in litt</em>. 2015, E. Hansen <em>in litt. </em>2016,[...]
