http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/order/Crocodylia?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"9c345075af623c3e03bc143837a9fe28"
      link: <https://api.iucnredlist.org/api/v4/taxa/order/Crocodylia?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/order/Crocodylia?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/taxa/order/Crocodylia?page=2&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '140'
      total-pages: '2'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2014","latest":false,"sis_taxon_id":21981,"url":"https://www.iucnredlist.org/species/21981/2780499","assessment_id":2780499,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":true,"sis_taxon_id":46583,"url":"https://www.iucnredlist.org/species/46583/3009637","assessment_id":3009637,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":true,"sis_taxon_id":46584,"url":"https://www.iucnredlist.org/species/46584/3009688","assessment_id":3009688,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":true,"sis_taxon_id":46585,"url":"https://www.iucnredlist.org/spec[...]
