http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/population_trends/2?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"4040127e724fef891c5ccc781dafa992"
      link: <https://api.iucnredlist.org/api/v4/population_trends/2?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/population_trends/2?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/population_trends/2?page=676&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '67541'
      total-pages: '676'
    body:
      encoding: ''
      file: no
      string: '{"population_trend":{"description":{"en":"Stable"},"code":"2"},"assessments":[{"year_published":"2013","latest":true,"sis_taxon_id":1078,"url":"https://www.iucnredlist.org/species/1078/498639","assessment_id":498639,"code":"2","code_type":"population_trend","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":false,"sis_taxon_id":11060,"url":"https://www.iucnredlist.org/species/11060/500601","assessment_id":500601,"code":"2","code_type":"population_trend","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":true,"sis_taxon_id":11257,"url":"https://www.iucnredlist.org/species/11257/502451","assessment_id":502451,"code":"2","code_type":"population_trend","scopes":[{"description":{"en":"Gl[...]
