http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/population_trends/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"62c2d61b9f847367d2c75a1261e5ee06"
    body:
      encoding: ''
      file: no
      string: '{"population_trends":[{"description":{"en":"Increasing"},"code":"0"},{"description":{"en":"Decreasing"},"code":"1"},{"description":{"en":"Stable"},"code":"2"},{"description":{"en":"Unknown"},"code":"3"}]}'
  recorded_at: 2024-09-18 15:53:10 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
