http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"aa4cce31df1cf1305a41690136d9258d"
      link: <https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '24'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2023","latest":true,"sis_taxon_id":220642551,"url":"https://www.iucnredlist.org/species/220642551/220642557","assessment_id":220642557,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2023","latest":true,"sis_taxon_id":220658844,"url":"https://www.iucnredlist.org/species/220658844/220658853","assessment_id":220658853,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2023","latest":true,"sis_taxon_id":220658973,"url":"https://www.iucnredlist.org/species/220658973/220659021","assessment_id":220659021,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2023","latest":true,"sis_taxon_id":220659050,"url":"http[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '2'
      etag: W/"bc014d463bb874306c34cc11a1d50b8e"
      link: <https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/taxa/phylum/Porifera?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '24'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[],"filters":{"phylum_name":"Porifera"}}'
  recorded_at: 2024-09-18 14:37:08 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
