http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/biogeographical_realms/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"b07167932e2ad448c4677ad866296345"
    body:
      encoding: ''
      file: no
      string: '{"biogeographical_realms":[{"description":{"en":"Afrotropical"},"code":"0"},{"description":{"en":"Antarctic"},"code":"1"},{"description":{"en":"Australasian"},"code":"2"},{"description":{"en":"Indomalayan"},"code":"3"},{"description":{"en":"Nearctic"},"code":"4"},{"description":{"en":"Neotropical"},"code":"5"},{"description":{"en":"Oceanian"},"code":"6"},{"description":{"en":"Palearctic"},"code":"7"}]}'
  recorded_at: 2024-09-17 21:20:01 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
