http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/biogeographical_realms/1?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"d112d9fcb4ac96e14aeb5786c3ff4100"
      link: <https://api.iucnredlist.org/api/v4/biogeographical_realms/1?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/biogeographical_realms/1?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/biogeographical_realms/1?page=16&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '1516'
      total-pages: '16'
    body:
      encoding: ''
      file: no
      string: '{"biogeographical_realm":{"description":{"en":"Antarctic"},"code":"1"},"assessments":[{"year_published":"2012","latest":true,"sis_taxon_id":162502,"url":"https://www.iucnredlist.org/species/162502/903824","assessment_id":903824,"code":"1","code_type":"biogeographical_realm","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":true,"sis_taxon_id":162507,"url":"https://www.iucnredlist.org/species/162507/905895","assessment_id":905895,"code":"1","code_type":"biogeographical_realm","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2018","latest":true,"sis_taxon_id":162571,"url":"https://www.iucnredlist.org/species/162571/918906","assessment_id":918906,"code":"1","code_type":"biogeographical_realm","scopes":[{"descripti[...]
