http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/research/4?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"b7ba797e5c8980955cf9eb613c5062f7"
      link: <https://api.iucnredlist.org/api/v4/research/4?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/research/4?page=2&per_page=100>; rel="next",
        <https://api.iucnredlist.org/api/v4/research/4?page=10&per_page=100>; rel="last"
      page-items: '100'
      total-count: '984'
      total-pages: '10'
    body:
      encoding: ''
      file: no
      string: '{"research":{"description":{"en":"Other"},"code":"4"},"assessments":[{"year_published":"2013","latest":false,"sis_taxon_id":151735,"url":"https://www.iucnredlist.org/species/151735/555651","assessment_id":555651,"code":"4","code_type":"research","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2013","latest":false,"sis_taxon_id":152350,"url":"https://www.iucnredlist.org/species/152350/626894","assessment_id":626894,"code":"4","code_type":"research","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2014","latest":true,"sis_taxon_id":170166,"url":"https://www.iucnredlist.org/species/170166/1285837","assessment_id":1285837,"code":"4","code_type":"research","scopes":[{"description":{"en":"Global"},"co[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/research/4?page=11
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '11'
      etag: W/"b1dc15c4ae36f3f4460ed567f482cb6d"
      link: <https://api.iucnredlist.org/api/v4/research/4?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/research/4?page=10&per_page=100>; rel="prev",
        <https://api.iucnredlist.org/api/v4/research/4?page=10&per_page=100>; rel="last"
      page-items: '100'
      total-count: '984'
      total-pages: '10'
    body:
      encoding: ''
      file: no
      string: '{"research":{"description":{"en":"Other"},"code":"4"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 21:12:51 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
