http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/scientific_name?genus_name=Gorilla&species_name=gorilla
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"1c4a915b5906c6f1543cc87950da70ca"
    body:
      encoding: ''
      file: no
      string: '{"taxon":{"sis_id":9404,"scientific_name":"Gorilla gorilla","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":39998,"scientific_name":"Gorilla
        gorilla ssp. diehli","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"PRIMATES","family_name":"HOMINIDAE","genus_name":"Gorilla","species_name":"gorilla","subpopulation_name":null,"infra_name":"diehli","authority":"Matschie,
        1904","ssc_groups":[{"name":"IUCN SSC Primate Specialist Group","url":"http://www.primate-sg.org/","description":"Chair:
        Russell Mittermeier (email: rmittermeier@globalwildlife.org)\nRed List Authority
        Focal Points: \nProsimians, monkeys and smaller apes - Sanjay Molur (email:
        sanjay@zooreach.org) and Christoph Schwitzer (email: cschwitzer@bristolzoo.org.uk)\nVice-Chair
        for great apes - Dirck S. Byler (email: dbyler@globalwildlife.org)\nVice-Chair
        for small apes - Susan M. Cheyne (email: section.small.apes@gmail.com)\nJournals
        and Newsletters: \nPrimate Conservation: http://www.primate-sg.org/primate_conservation/\nNeotropical
        Primates: http://www.primate-sg.org/neotropical_primates/\nAsian Primates:
        http://www.primate-sg.org/asian_primates_newsletter/ and http://www.primate-sg.org/asian_primates_journal/\nLemur
        News: http://www.primate-sg.org/lemur_news/\nAfrican Primates: http://www.primate-sg.org/african_primates/\n"}],"common_names":[{"main":true,"name":"Cross
        River Gorilla","language":{"code":"eng","description":{"en":"English"}}}],"synonyms":[{"name":"Gorilla
        gorilla Nigerian subpopulation","status":"ACCEPTED","genus_name":"Gorilla","species_name":"gorilla","species_author":null,"infrarank_author":"Matschie,
        1904","subpopulation_name":"Nigerian subpopulation","infra_type":null,"infra_name":null}]},{"sis_id":9406,"scientific_name":"Gorilla
        gorilla ssp. gorilla","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"PRIMATES","family_name":"HOMINIDAE","genus_name":"Gorilla","species_name":"gorilla","subpopulation_name":null,"infra_name":"gorilla","authority":"(Savage,
        1847)","ssc_groups":[{"name":"IUCN SSC Primate Specialist Group","url":"http://www.primate-sg.org/","description":"Chair:
        Russell Mittermeier [...]
