http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/scopes/100765562?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"d8fb38cbc419cb2d7f146632c3ac39f4"
      link: <https://api.iucnredlist.org/api/v4/scopes/100765562?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/scopes/100765562?page=1&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '58'
      total-pages: '1'
    body:
      encoding: ''
      file: no
      string: '{"scope":{"description":{"en":"Arabian Sea"},"code":"100765562"},"assessments":[{"year_published":"2009","latest":false,"sis_taxon_id":161340,"url":"https://www.iucnredlist.org/species/161340/5402149","assessment_id":5402149,"code":"100765562","code_type":"scope","scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Arabian
        Sea"},"code":"100765562"}]},{"year_published":"2009","latest":false,"sis_taxon_id":161349,"url":"https://www.iucnredlist.org/species/161349/5403712","assessment_id":5403712,"code":"100765562","code_type":"scope","scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Arabian
        Sea"},"code":"100765562"}]},{"year_published":"2009","latest":false,"sis_taxon_id":161408,"url":"https://www.iucnre[...]
[...]
{"scope":{"description":{"en":"Arabian Sea"},"code":"100765562"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-17 21:18:30 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
