http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/systems/2?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"118598eb2b429553c61a0b9616905cf8"
      link: <https://api.iucnredlist.org/api/v4/systems/2?page=1&per_page=100>; rel="first",
        <https://api.iucnredlist.org/api/v4/systems/2?page=2&per_page=100>; rel="next",
        <https://api.iucnredlist.org/api/v4/systems/2?page=341&per_page=100>; rel="last"
      page-items: '100'
      total-count: '34072'
      total-pages: '341'
    body:
      encoding: ''
      file: no
      string: '{"system":{"description":{"en":"Marine"},"code":"2"},"assessments":[{"year_published":"2020","latest":true,"sis_taxon_id":10030,"url":"https://www.iucnredlist.org/species/10030/495630","assessment_id":495630,"code":"2","code_type":"system","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":false,"sis_taxon_id":10056,"url":"https://www.iucnredlist.org/species/10056/495994","assessment_id":495994,"code":"2","code_type":"system","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2012","latest":false,"sis_taxon_id":10072,"url":"https://www.iucnredlist.org/species/10072/497017","assessment_id":497017,"code":"2","code_type":"system","scopes":[{"description":{"en":"Global"},"code":"1"}][...]
