http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/synonym/Loxodonta%20africana?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"loxodonta africana","count":2,"result":[{"accepted_id":12392,"accepted_name":"Loxodonta
        africana","authority":"(Blumenbach, 1797)","synonym":"Elephas africana","syn_authority":"Blumenbach,
        1797"},{"accepted_id":12392,"accepted_name":"Loxodonta africana","authority":"(Blumenbach,
        1797)","synonym":"Loxodonta cyclotis","syn_authority":"Matschie, 1900"}]}'
  recorded_at: 2020-01-28 00:44:34 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
