http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/systems/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"c28813ba539bf859c18ad741e729ef82"
    body:
      encoding: ''
      file: no
      string: '{"systems":[{"description":{"en":"Terrestrial"},"code":"0"},{"description":{"en":"Freshwater
        (=Inland waters)"},"code":"1"},{"description":{"en":"Marine"},"code":"2"}]}'
  recorded_at: 2024-09-18 15:50:12 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
