http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/stresses/2_3_4?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"94001e404b40cdbc78ae6338dd93dae4"
      link: <https://api.iucnredlist.org/api/v4/stresses/2_3_4?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/stresses/2_3_4?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/stresses/2_3_4?page=4&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '365'
      total-pages: '4'
    body:
      encoding: ''
      file: no
      string: '{"stress":{"description":{"en":"Loss of pollinator"},"code":"2_3_4"},"assessments":[{"year_published":"2013","latest":false,"sis_taxon_id":151943,"url":"https://www.iucnredlist.org/species/151943/579252","assessment_id":579252,"code":"2_3_4","code_type":"stress","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":true,"sis_taxon_id":170434,"url":"https://www.iucnredlist.org/species/170434/1313762","assessment_id":1313762,"code":"2_3_4","code_type":"stress","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":true,"sis_taxon_id":170467,"url":"https://www.iucnredlist.org/species/170467/1314728","assessment_id":1314728,"code":"2_3_4","code_type":"stress","scopes":[{"description":{"en":"Global"[...]
