http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/category/VU?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"-852905139"'
    body:
      encoding: UTF-8
      file: no
      string: '{"count":13787,"category":"VU","result":[{"taxonid":36563,"scientific_name":"Abarema
        abbottii","subspecies":null,"rank":null,"subpopulation":null},{"taxonid":30843,"scientific_name":"Abarema
        bigemina","subspecies":null,"rank":null,"subpopulation":null},{"taxonid":36553,"scientific_name":"Abarema
        callejasii","subspecies":null,"rank":null,"subpopulation":null},{"taxonid":36568,"scientific_name":"Abarema
        centiflora","subspecies":null,"rank":null,"subpopulation":null},{"taxonid":36552,"scientific_name":"Abarema
        cochleata var. moniliformis","subspecies":"moniliformis","rank":"var.","subpopulation":null},{"t[...]
