http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/scientific_name?genus_name=Gorilla&species_name=gorilla
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"1c4a915b5906c6f1543cc87950da70ca"
    body:
      encoding: ''
      file: no
      string: '{"taxon":{"sis_id":9404,"scientific_name":"Gorilla gorilla","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":39998,"scientific_name":"Gorilla
        gorilla ssp. diehli","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"PRIMATES","family_name":"HOMINIDAE","genus_name":"Gorilla","species_name":"gorilla","subpopulation_name":null,"infra_name":"diehli","authority":"Matschie,
        1904","ssc_groups":[{"name":"IUCN SSC Primate Specialist Group","url":"http://www.primate-sg.org/","description":"Chair:
        Russell Mittermeier (email: rmittermeier@globalwildlife.org)\nRed List Authority
        Focal Points: \nProsimians, monkeys and smaller apes - Sanjay Molur (email:
        sanjay@zooreach.org) and Christoph Schwitzer (email: cschwitzer@bristolzoo.org.uk)\nVice-Chair
        for great apes - Dirck S. Byler (email: dbyler@globalwildlife.org)\nVice-Chair
        for small apes - Susan M. Cheyne (email: section.small.apes@gmail.com)\nJournals
        and Newsletters: \nPrimate Conservation: http://www.primate-sg.org/primate_conservation/\nNeotropical
        Primates: http://www.primate-sg.org/neotropical_primates/\nAsian Primates:
        http://www.primate-sg.org/asian_primates_newsletter/ and http://www.primate-sg.org/asian_primates_journal/\nLemur
        News: http://www.primate-sg.org/lemur_news/\nAfrican Primates: http://www.primate-sg.org/african_primates/\n"}],"common_names":[{"main":true,"name":"Cross
        River Gorilla","language":{"code":"eng","description":{"en":"English"}}}],"synonyms":[{"name":"Gorilla
        gorilla Nigerian subpopulation","status":"ACCEPTED","genus_name":"Gorilla","species_name":"gorilla","species_author":null,"infrarank_author":"Matschie,
        1904","subpopulation_name":"Nigerian subpopulation","infra_type":null,"infra_name":null}]},{"sis_id":9406,"scientific_name":"Gorilla
        gorilla ssp. gorilla","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"PRIMATES","family_name":"HOMINIDAE","genus_name":"Gorilla","species_name":"gorilla","subpopulation_name":null,"infra_name":"gorilla","authority":"(Savage,
        1847)","ssc_groups":[{"name":"IUCN SSC Primate Specialist Group","url":"http://www.primate-sg.org/","description":"Chair:
        Russell Mittermeier [...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/136250858
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"4bf2d1e03a92d4f549d19cd72ed4bc55"
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2016-04-01T00:00:00.000Z","year_published":"2018","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":9404,"criteria":"A4bcde","url":"https://www.iucnredlist.org/species/9404/136250858","citation":"Maisels,
        F., Bergl, R.A. \u0026 Williamson, E.A. 2018. Gorilla gorilla (amended version
        of 2016 assessment). The IUCN Red List of Threatened Species 2018: e.T9404A136250858.
        https://dx.doi.org/10.2305/IUCN.UK.2018-2.RLTS.T9404A136250858.en. Accessed
        on 29 September 2024.","assessment_id":136250858,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":9404,"scientific_name":"Gorilla
        gorilla","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":39998,"scientific_name":"Gorilla
        gorilla ssp. diehli","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"PRIMATES","family_name":"HOMINIDAE","genus_name":"Gorilla","species_name":"gorilla","subpopulation_name":null,"infra_name":"diehli","authority":"Matschie,
        1904","ssc_groups":[{"name":"IUCN SSC Primat[...]
{"scope":"Majority
        (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium Impact:
        6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (large scale) [harvest]"},"code":"5_3_4"},{"scope":"Whole (\u003e90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium
        Impact: 7","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Habitat
        shifting \u0026 alteration"},"code":"11_1"},[...]
{"scope":"Minority (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 5","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Mining
        \u0026 quarrying"},"code":"3_2"}],"credits":[{"credit_type_name":"assessor","full":"Maisels,
        F., Bergl, R.A. \u0026 Williamson, E.A.","value":["Fiona Maisels (Wildlife
        Conservation Society)","Elizabeth A. Williamson (University of Stirling)","Richard
        Bergl"]},{"credit_type_name":"evaluator","full":"Mittermeier, R.A. \u0026
        Rylands, A.B.","value":["Russell A. Mittermeier (Conservation International)","Anthony
        B. Rylands (Conservation International)"]},{"credit_type_name":"contributor","full":"Baillie,
        J., Butynski, T.M., Dunn, A., Gatti, S., Oates, J.F., Stokes, E., Strindberg,
        S., Sunderland-Groves, J., Tutin, C. \u0026 Walsh, P.D.","value":["Thomas
        Butynski (Bioko Biodiversity Protection Program)","Jonathan Baillie (Institute
        of Zoology, London)","Andrew Dunn","John Oates","Emma Stokes","Samantha Strindberg","Caroline
        Tutin","Peter Walsh","Sylvain Gatti","Jacqui Sunderland-Groves"]}],"errata":[{"reason":"This
        amended version of the 2016 assessment was created to update population and
        reduction estimates based on Strindberg \u003cem\u003eet al\u003c/em\u003e.
        (2018)."},{"reason":"This amended version of the 2016 assessment was created
        to update population and reduction estimates based on Strindberg \u003cem\u003eet
        al\u003c/em\u003e. (2018)."},{"reason":"This amended version of the 2016 assessment
        was created to update population and reduction esti[...]
