http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/sis/3746
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"1f3895841252c1fc6d7ab8c5dfe38f2a"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      encoding: ''
      file: no
      string: '{"sis_id":3746,"taxon":{"sis_id":3746,"scientific_name":"Canis lupus","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":223987824,"scientific_name":"Canis
        lupus ssp. chanco","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"CARNIVORA","family_name":"CANIDAE","genus_name":"Canis","species_name":"lupus","subpopulation_name":null,"infra_name":"chanco","authority":"Gray,
        1863","ssc_groups":[{"name":"IUCN SSC Canid Specialist Group (foxes, jackals
        and wild dogs)","url":"http://www.canids.org/","description":"Chair: Claudio
        Sillero-Zubiri (email: canids@zoology.oxford.ac.uk)\nRed List Authority Coordinator:
        Michael Hoffmann (email: mike.hoffmann@zsl.org)\nNewsletter: http://www.canids.org/c-b-c"}],"common_names":[{"main":false,"name":"Tibetan
        Wolf","language":"eng"},{"main":false,"name":"Woolly Wolf","language":"eng"},{"main":true,"name":"Himalayan
        Wolf","language":"eng"}],"synonyms":[{"name":"Canis lupus ssp. laniger Hodgson,
        1847","status":"ACCEPTED","genus_name":"Canis","species_name":"lupus","species_author":null,"infrarank_author":"Hodgson,
        1847","subpopulation_name":null,"infra_type":"subspecies","infra_name":"laniger"},{"name":"Canis
        chanco Gray, 1863","status":"ACCEPTED","genus_name":"Canis","species_name":"chanco","species_author":"Gray,
        1863","infrarank_author":null,"subpopulation_name":null,"infra_type":null,"infra_name":null},{"name":"Canis
        lupus ssp. himalayensis Aggarwal, Kivisild, Ramadevi \u0026 Singh, 2007","status":"ACCEPTED","genus_name":"Canis","species_name":"lupus","species_author":null,"infrarank_author":"Aggarwal,
        Kivisild, R[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/247624660
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"8b466eba2c9602e801ddd441e388d026"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2018-08-30T00:00:00.000Z","year_published":"2023","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":3746,"criteria":null,"url":"https://www.iucnredlist.org/species/3746/247624660","citation":"Boitani,
        L., Phillips, M. \u0026 Jhala, Y.V. 2023. Canis lupus (amended version of
        2018 assessment). The IUCN Red List of Threatened Species 2023: e.T3746A247624660.
        https://dx.doi.org/10.2305/IUCN.UK.2023-1.RLTS.T3746A247624660.en. Accessed
        on 08 July 2025.","assessment_id":247624660,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":3746,"scientific_name":"Canis
        lupus","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":223987824,"scientific_name":"Canis
        lupus ssp. chanco","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"CARNIVORA","family_name":"CANIDAE","genus_name":"Canis","species_name":"lupus","subpopulation_name":null,"infra_name":"chanco","authority":"Gray,
        1863","ssc_groups":[{"name":"IUCN SSC Canid Specialist Gr[...]
{"scope":"Minority (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 4","severity":"Negligible declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Persecution/control"},"code":"5_1_3"},[...]
{"scope":"Minority (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 4","severity":"Negligible declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Agro-industry
        grazing, ranching or farming"},"code":"2_3_3"}],"credits":[{"credit_type_name":"assessor","full":"Boitani,
        L., Phillips, M. \u0026 Jhala, Y.V.","value":["Yadvendradev Jhala","Mike Phillips","Luigi
        Boitani"]},{"credit_type_name":"evaluator","full":"Hoffmann, M. \u0026 Sillero-Zubiri,
        C.","value":["Michael Hoffmann (Zoological Society of London / IUCN SSC Canid
        Specialist Group)","Claudio Sillero-Zubiri (IUCN SSC Canid Specialist Group)"]},{"credit_type_name":"contributor","full":"Mech,
        D.","value":["David Mech"]},{"credit_type_name":"facilitators","full":"Hoffmann,
        M.","value":["Michael Hoffmann (Zoological Society of London / IUCN SSC Canid
        Specialist Group)"]}],"errata":[{"reason":"This amended assessment was created
        to published an updated distribution map for this species."}],"references":[{"citation":"Mech,
        L. D. 1970. \u003ci\u003eThe wolf: the ecology and behavior of an endangered
        species\u003c/i\u003e. Natural History Press, Doubleday Publishing Co, New
        York, USA.","year":"1970","title":"The wolf: the ecology and behavior of an
        endangered species","author":"Mech, L. D.","citation_short":null},{"citation":"Boitani,
        L. 1995. Ecological and cultural diversities in the evolution of wolf-human
        relationships. In: L. N. Carbyn, S. H. Fritts and D. R. Seip (eds), \u003ci\u003eEcology
        and conservation of wolves in a changing world. Ocassional Publication 35\u003c/i\u003e,
        pp. 3-11. Canadian Circumpolar Institute, Edmonton, Alberta, Canada.","year":"1995","title":"Ecological
        and cultural diversities in the evolution of wolf-human relationships","author":"Boitani,
        L.","citation_short":null},{"citation":"Fuller, T. K. 1989. Population dynamics
        of wolves in north-central Minnesota. \u003ci\u003eWildlife Monographs\u003c/i\u003e
        105.","year":"1989","title":"Population dynamics of wolves in north-central
        Minnesota","author":"Fuller, T. K.","citation_short":null},{"citation":"Mech,
        L. D. 1995. What do we know about wolves and what more do we need to learn?
        In: L. N. Carbyn, S. H. Fritts and D. R. Seip (eds), \u003ci\u003eEcology
        and conservation of wolves in a changing world\u003c/i\u003e, pp. 537-545.
        Canadian Circumpolar Institute, Edmonton, Alberta, Canada.","year":"1995","title":"What
        do we know about wolves and what more do we need to learn?","author":"Mech,
        L. D.","citation_short":null},{"citation":"Mech, L. D. and Boitani, L. (eds).
        2003. \u003ci\u003eWolves: behavior, ecology and conservation\u003c/i\u0[...]
