http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/scientific_name?genus_name=Canis&species_name=lupus
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"e515f7239bf65a38cb0eb7aabb141e5a"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      encoding: ''
      file: no
      string: '{"taxon":{"sis_id":3746,"scientific_name":"Canis lupus","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":223987824,"scientific_name":"Canis
        lupus ssp. chanco","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"CARNIVORA","family_name":"CANIDAE","genus_name":"Canis","species_name":"lupus","subpopulation_name":null,"infra_name":"chanco","authority":"Gray,
        1863","ssc_groups":[{"name":"IUCN SSC Canid Specialist Group (foxes, jackals
        and wild dogs)","url":"http://www.canids.org/","description":"Chair: Claudio
        Sillero-Zubiri (email: canids@zoology.oxford.ac.uk)\nRed List Authority Coordinator:
        Michael Hoffmann (email: mike.hoffmann@zsl.org)\nNewsletter: http://www.canids.org/c-b-c"}],"common_names":[{"main":false,"name":"Tibetan
        Wolf","language":"eng"},{"main":false,"name":"Woolly Wolf","language":"eng"},{"main":true,"name":"Himalayan
        Wolf","language":"eng"}],"synonyms":[{"name":"Canis lupus ssp. laniger Hodgson,
        1847","status":"ACCEPTED","genus_name":"Canis","species_name":"lupus","species_author":null,"infrarank_author":"Hodgson,
        1847","subpopulation_name":null,"infra_type":"subspecies","infra_name":"laniger"},{"name":"Canis
        chanco Gray, 1863","status":"ACCEPTED","genus_name":"Canis","species_name":"chanco","species_author":"Gray,
        1863","infrarank_author":null,"subpopulation_name":null,"infra_type":null,"infra_name":null},{"name":"Canis
        lupus ssp. himalayensis Aggarwal, Kivisild, Ramadevi \u0026 Singh, 2007","status":"ACCEPTED","genus_name":"Canis","species_name":"lupus","species_author":null,"infrarank_author":"Aggarwal,
        Kivisild, R[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/216872082
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"548f113d11752dab7c81612e0e617fa1"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2023-01-18T00:00:00.000Z","year_published":"2025","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":3746,"criteria":null,"url":"https://www.iucnredlist.org/species/3746/216872082","citation":"Boitani,
        L. 2025. Canis lupus (Europe assessment). The IUCN Red List of Threatened
        Species 2025: e.T3746A216872082. https://dx.doi.org/10.2305/IUCN.UK.2025-1.RLTS.T3746A216872082.en.
        Accessed on 07 July 2025.","assessment_id":216872082,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":3746,"scientific_name":"Canis
        lupus","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[{"sis_id":223987824,"scientific_name":"Canis
        lupus ssp. chanco","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"MAMMALIA","order_name":"CARNIVORA","family_name":"CANIDAE","genus_name":"Canis","species_name":"lupus","subpopulation_name":null,"infra_name":"chanco","authority":"Gray,
        1863","ssc_groups":[{"name":"IUCN SSC Canid Specialist Gr[...]
{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium
        Impact: 6","severity":"Causing/Could cause fluctuations","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Persecution/control"},"code":"5_1_3"},[...]
{"scope":"Majority (50-90%)","timing":"Future","internationalTrade":null,"score":"Low
        Impact: 4","severity":"Causing/Could cause fluctuations","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Commercial
        \u0026 industrial areas"},"code":"1_2"}],"credits":[{"credit_type_name":"assessor","full":"Boitani,
        L.","value":["Luigi Boitani"]},{"credit_type_name":"evaluator","full":"Hoffmann,
        M., Chiozza, F. \u0026 Battistoni, A.","value":["Michael Hoffmann (Zoological
        Society of London / IUCN SSC Canid Specialist Group)","Federica Chiozza (Global
        Mammal Assessment)","Alessia Battistoni (Global Mammal Assessment)"]},{"credit_type_name":"contributor","full":"Álvares,
        F., Avanzinelli, E., Avukatov, V., Bagrade, G., Balys, V., Barroso, I., Bartol,
        M., Bassano, B., Belotti, E., Bi[...]
