http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/threats/11_4?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"39324d9813040b0bd20b02c047ec238c"
      link: <https://api.iucnredlist.org/api/v4/threats/11_4?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/threats/11_4?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/threats/11_4?page=55&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '5423'
      total-pages: '55'
    body:
      encoding: ''
      file: no
      string: '{"threat":{"description":{"en":"Storms \u0026 flooding"},"code":"11_4"},"assessments":[{"year_published":"2012","latest":false,"sis_taxon_id":10056,"url":"https://www.iucnredlist.org/species/10056/495994","assessment_id":495994,"code":"11_4","code_type":"threat","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2020","latest":false,"sis_taxon_id":1086,"url":"https://www.iucnredlist.org/species/1086/499235","assessment_id":499235,"code":"11_4","code_type":"threat","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2019","latest":false,"sis_taxon_id":10952,"url":"https://www.iucnredlist.org/species/10952/499836","assessment_id":499836,"code":"11_4","code_type":"threat","scopes":[{"description":{"en":"Global"},"code":"[...]
