http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/threats/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      etag: W/"22bc6c3eb4d123bcd2be84503341bd3e"
    body:
      encoding: ''
      file: no
      string: '{"threats":[{"description":{"en":"Residential \u0026 commercial development"},"code":"1"},{"description":{"en":"Housing
        \u0026 urban areas"},"code":"1_1"},{"description":{"en":"Commercial \u0026
        industrial areas"},"code":"1_2"},{"description":{"en":"Tourism \u0026 recreation
        areas"},"code":"1_3"},{"description":{"en":"Agriculture \u0026 aquaculture"},"code":"2"},{"description":{"en":"Annual
        \u0026 perennial non-timber crops"},"code":"2_1"},{"description":{"en":"Shifting
        agriculture"},"code":"2_1_1"},{"description":{"en":"Small-holder farmi[...]
