http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/threats/9_5_1?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"77c27b4689702cb07bfb890a9f071fee"
      link: <https://api.iucnredlist.org/api/v4/threats/9_5_1?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/threats/9_5_1?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/threats/9_5_1?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '292'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"threat":{"description":{"en":"Acid rain"},"code":"9_5_1"},"assessments":[{"year_published":"2017","latest":false,"sis_taxon_id":12799,"url":"https://www.iucnredlist.org/species/12799/508865","assessment_id":508865,"code":"9_5_1","code_type":"threat","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2024","latest":true,"sis_taxon_id":155761,"url":"https://www.iucnredlist.org/species/155761/736279","assessment_id":736279,"code":"9_5_1","code_type":"threat","scopes":[{"description":{"en":"Europe"},"code":"2"}]},{"year_published":"2017","latest":true,"sis_taxon_id":171389,"url":"https://www.iucnredlist.org/species/171389/1325438","assessment_id":1325438,"code":"9_5_1","code_type":"threat","scopes":[{"description":{"en":"Europe"},[...]
