http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/threats/species/name/Fratercula%20arctica?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"254832005"'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Fratercula arctica","result":[{"code":"11.3","title":"Temperature
        extremes","timing":"Ongoing","scope":"Majority (50-90%)","severity":"Slow,
        Significant Declines","score":"Medium Impact: 6","invasive":null},{"code":"11.4","title":"Storms
        & flooding","timing":"Ongoing","scope":"Minority (<50%)","severity":"Rapid
        Declines","score":"Medium Impact: 6","invasive":null},{"code":"3.3","title":"Renewable
        energy","timing":"Ongoing","scope":"Minority (<50%)","severity":"Causing/Could
        cause fluctuations","score":"Low Impact: 5","invasive":null},{"code":"5.1","title":"Hunting
        & trapping terrestrial animals","timing":"Ongoing","scope":"Minority (<50%)","severity":"Slow,
        Significant Declines","score":"Low Impact: 5","invasive":null},{"code":"5.1.1","title":"Intentional
        use (species is the target)","timing":"Ongoing","scope":"Minority (<50%)","severity":"Slow,
        Significant Declines","score":"Low Impact: 5","invasive":null},{"code":"5.4","title":"Fishing
        & harvesting aquatic resources","timing":"Ongoing","scope":"Unknown","severity":"Rapid
        Declines","score":"Unknown","invasive":null},{"code":"5.4.4","title":"Unintentional
        effects: (large scale) [harvest]","timing":"Ongoing","scope":"Unknown","severity":"Rapid
        Declines","score":"Unknown","invasive":null},{"code":"6.1","title":"Recreational
        activities","timing":"Ongoing","scope":"Minority (<50%)","severity":"Negligible
        declines","score":"Low Impact: 4","invasive":null},{"code":"8.1","title":"Invasive
        non-native/alien species/diseases (Neovison vison)","timing":"Ongoing","scope":"Majority
        (50-90%)","severity":"Slow, Significant Declin[...]
