http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/use_and_trade/4?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"3eb9601bb8fae70cd2dc044781492432"
      link: <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '278'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"use_and_trade":{"description":{"en":"Poisons"},"code":"4"},"assessments":[{"year_published":"2020","latest":true,"sis_taxon_id":168985,"url":"https://www.iucnredlist.org/species/168985/1261460","assessment_id":1261460,"code":"4","code_type":"use_trade","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2021","latest":true,"sis_taxon_id":173489,"url":"https://www.iucnredlist.org/species/173489/1387207","assessment_id":1387207,"code":"4","code_type":"use_trade","scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2023","latest":true,"sis_taxon_id":173574,"url":"https://www.iucnredlist.org/species/173574/1390654","assessment_id":1390654,"code":"4","code_type":"use_trade","scopes":[{"description":{"en":"Global"},[...]
[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/use_and_trade/4?page=4
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '4'
      etag: W/"4390892846b901573b55db339e05f17c"
      link: <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=3&per_page=100>;
        rel="prev", <https://api.iucnredlist.org/api/v4/use_and_trade/4?page=3&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '278'
      total-pages: '3'
    body:
      encoding: ''
      file: no
      string: '{"use_and_trade":{"description":{"en":"Poisons"},"code":"4"},"assessments":[],"filters":{}}'
  recorded_at: 2024-09-18 15:46:00 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
