http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/family/Sturnidae?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      current-page: '1'
      etag: W/"8e8367df1cf9a4af7973a02022ce6aeb"
      link: <https://api.iucnredlist.org/api/v4/taxa/family/Sturnidae?page=1&per_page=100>;
        rel="first", <https://api.iucnredlist.org/api/v4/taxa/family/Sturnidae?page=2&per_page=100>;
        rel="next", <https://api.iucnredlist.org/api/v4/taxa/family/Sturnidae?page=11&per_page=100>;
        rel="last"
      page-items: '100'
      total-count: '1016'
      total-pages: '11'
    body:
      encoding: ''
      file: no
      string: '{"assessments":[{"year_published":"2009","latest":false,"sis_taxon_id":22710921,"url":"https://www.iucnredlist.org/species/22710921/22850880","assessment_id":22850880,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2008","latest":false,"sis_taxon_id":22710921,"url":"https://www.iucnredlist.org/species/22710921/22851852","assessment_id":22851852,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2004","latest":false,"sis_taxon_id":22710921,"url":"https://www.iucnredlist.org/species/22710921/22853002","assessment_id":22853002,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2000","latest":false,"sis_taxon_id":22710921,"url":"https://ww[...]
