http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/common_names/Loxodonta%20africana?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Loxodonta africana","result":[{"taxonname":"African Elephant","primary":true,"language":"eng"},{"taxonname":"Éléphant
        Africain","primary":false,"language":"fre"},{"taxonname":"Éléphant d''Afrique","primary":false,"language":"fre"},{"taxonname":"Elefante
        Africano","primary":false,"language":"spa"}]}'
  recorded_at: 2018-05-17 18:35:37 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
