http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/history/id/22823/region/europe?token=<rredlist_api_token>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"22823","region_identifier":"europe","result":[{"year":"2007","code":"VU","category":"Vulnerable"}]}'
  recorded_at: 2018-04-26 21:01:58 GMT
  recorded_with: vcr/0.0.8.9236
