http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/history/id/12392?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"12392","result":[{"year":"2008","code":"VU","category":"Vulnerable"},{"year":"2004","code":"VU","category":"Vulnerable"},{"year":"1996","code":"EN","category":"Endangered"},{"year":"1994","code":"V","category":"Vulnerable"},{"year":"1990","code":"V","category":"Vulnerable"},{"year":"1988","code":"V","category":"Vulnerable"},{"year":"1986","code":"V","category":"Vulnerable"}]}'
  recorded_at: 2018-05-17 18:36:09 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
