http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/category/asdfad?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"count":0,"category":"asdfad","result":[]}'
  recorded_at: 2018-05-17 18:37:00 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
